/*contact*/
.form .fondo {
  width: 100%;
  height: 350px;
  background: #F4DBB2;
  position: absolute;
  z-index: -99;
}

.form .box {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 350px;
}

.form .box .info-img {
  width: 100%;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 1;
}

.form .box .info-img img {
  width: 190px;
  display: block;
}

.form .box .side-box {
  width: 100%;
  height: 100%;
  position: absolute;
}

.form .box .side-box .right-sidebar {
  width: 100%;
  height: 225px;
  position: absolute;
  padding-right: 2.5rem;
  padding-left: 55%;
  top: 55%;
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .box .side-box .right-sidebar p {
  font-size: 12px;
  color: #8D4C2E;
  padding-bottom: 20px;
}

.form .box .side-box .right-sidebar .t1 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
}

.form .box .side-box .left-sidebar {
  display: none;
}

.align-center {
  text-align: center;
}

.row {
  margin: -20px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  padding: 0 20px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row .col.x-50 {
  width: 50%;
}

.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  max-width: 600px;
  margin: 0 auto;
  top: 50%;
  height: 500px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 4rem;
}

.get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 3.5vw;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* medias */
@media (max-width: 379px) {
  .form .box .info-img img {
    width: 150px;
    display: block;
  }
}

@media (min-width: 500px) {
  .form .fondo {
    width: 100%;
    height: 450px;
    background: #F4DBB2;
    position: absolute;
    z-index: -99;
  }
  .form .box {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 450px;
  }
  .form .box .info-img {
    width: 100%;
    height: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    padding-top: 20px;
  }
  .form .box .info-img img {
    width: 170px;
    display: block;
  }
  .form .box .side-box {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
  }
  .form .box .side-box .right-sidebar {
    width: 100%;
    height: 225px;
    position: absolute;
    padding-right: 2.5rem;
    padding-left: 70%;
    top: 55%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .box .side-box .right-sidebar p {
    font-size: 12px;
    color: #8D4C2E;
    padding-bottom: 20px;
  }
  .form .box .side-box .right-sidebar .t1 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .form .box .side-box .left-sidebar {
    width: 100%;
    height: 225px;
    position: absolute;
    padding-left: 2.5rem;
    padding-right: 52%;
    top: 55%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form .box .side-box .left-sidebar p {
    width: 45%;
    font-size: 12px;
    color: #8D4C2E;
    padding-bottom: 55px;
  }
}

@media (min-width: 725px) {
  .form .box {
    width: 100%;
    height: 455px;
    background: #F4DBB2;
    position: relative;
  }
  .form .box .info-img {
    width: 100%;
    height: 315px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    padding-top: 20px;
  }
  .form .box .info-img img {
    width: 290px;
    display: block;
  }
  .form .box .side-box {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
  }
  .form .box .side-box .right-sidebar {
    width: 90%;
    height: 225px;
    position: absolute;
    padding-right: 4rem;
    padding-left: 60%;
    top: 55%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .box .side-box .right-sidebar p {
    font-size: 14px;
    color: #8D4C2E;
    padding-bottom: 20px;
  }
  .form .box .side-box .right-sidebar .t1 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .form .box .side-box .left-sidebar {
    width: 90%;
    height: 225px;
    position: absolute;
    padding-left: 4rem;
    padding-right: 50%;
    top: 55%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form .box .side-box .left-sidebar p {
    width: 50%;
    font-size: 14px;
    color: #8D4C2E;
    padding-bottom: 55px;
  }
  .get-in-touch {
    padding-left: 0;
    padding-right: 0;
  }
  .get-in-touch .title {
    font-size: 2vw;
  }
}

@media (min-width: 1100px) {
  .form .box {
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form .box .info-img {
    width: 100%;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    padding-top: 30px;
  }
  .form .box .info-img img {
    width: 350px;
    display: block;
  }
  .form .box .side-box .right-sidebar {
    padding-right: 3.5rem;
    padding-left: 60%;
    top: 55%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  .form .box .side-box .right-sidebar p {
    font-size: 16px;
    color: #8D4C2E;
    padding-bottom: 20px;
    width: 75%;
  }
  .form .box .side-box .right-sidebar .t1 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 35px;
  }
  .form .box .side-box .left-sidebar {
    padding-left: 3.5rem;
    padding-right: 50%;
    top: 55%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  .form .box .side-box .left-sidebar p {
    width: 50%;
    font-size: 16px;
    color: #8D4C2E;
    padding-bottom: 55px;
  }
  .form .get-in-touch {
    padding-left: 0;
    padding-right: 0;
  }
  .form .get-in-touch .title {
    font-size: 2vw;
  }
}

@media (min-width: 1400px) {
  .form .box .side-box .right-sidebar {
    padding-right: 7rem;
  }
  .form .box .side-box .right-sidebar p {
    font-size: 16px;
    color: #8D4C2E;
    padding-bottom: 20px;
    width: 75%;
  }
  .form .box .side-box .right-sidebar .t1 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 35px;
  }
  .form .box .side-box .left-sidebar {
    padding-left: 7rem;
  }
  .form .box .side-box .left-sidebar p {
    width: 50%;
    font-size: 16px;
    color: #8D4C2E;
    padding-bottom: 55px;
  }
  .get-in-touch {
    padding-left: 0;
    padding-right: 0;
  }
  .get-in-touch .title {
    font-size: 1.7vw;
  }
}
/*# sourceMappingURL=contact.css.map */