@import 'variables';
/*contact*/


.form{

   .fondo img{
      width: 100%;
      height: 260px;
      object-fit: cover;
     } 
     .box{
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 350px;
   .info-img{
       width: 100%;
       height: 225px;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       z-index: 1;
   }
   .info-img img{
       width: 190px;
       display: block;
   }
   .side-box{
       width: 100%;
  .fas {
      color: $negro;
      font-size: 21px;
  }
   }

   }
   .box2{
       img{
           height: 300px;
       }
   }

}

 
 
 
/* medias */
@media (min-width: 1024px){
 
    .fondo img{
       width: 100%;
       height: 260px;
       object-fit: cover;
      } 
    .box{
       padding-right: 2.5rem;
       padding-left: 2.5rem;
       background: $beage;
       padding-top: 100px;
       width: 100%;
       height: 300px;
       display: flex;
       justify-content: center;
       align-items: center;
   
    .side-box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 125px;
        i{
            padding-bottom: 20px;
        }
        .fas {
            color: $negro;
            font-size: 21px;
        }
        p{
            padding-bottom: 5px;
        }
        li{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
 
    }
    .box2{
        img{
            height: 300px;
        }
        .gmail{
            position: relative;
            .button-gmail{
                bottom: 0;
                margin: auto;
                right: 34px;
                top: 0;
                height: 30px;
                width: 30px;
                cursor: pointer;
                z-index: 2;
                #PRDG_logo_Horizontal_Color {
                  #Circulo---imagotipo {
                    fill: #000000;
                  }
              }
            }
        }
    }
 
 }
