/*faq*/
.faq {
  width: 100%;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 5rem;
}

.faq .title {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 18px;
  font-family: "Savinder-Regular";
}

.faq .asked {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid dimgray;
  cursor: pointer;
}

.faq .asked .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.faq .asked .question h3 {
  font-size: 12px;
  font-family: 'MetroSans-Regular', Helvetica, Arial, Sans-Serif;
}

.faq .asked .question #Trazado_375 {
  fill: transparent;
  stroke: dimgray;
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.faq .asked .question .Trazado_375 {
  overflow: visible;
  width: 15px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: -webkit-transform 0.6s ease-in;
  transition: -webkit-transform 0.6s ease-in;
  transition: transform 0.6s ease-in;
  transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
}

.faq .asked .answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}

.faq .asked .answer p {
  font-size: 12px;
  font-family: 'MetroSans-Book', Helvetica, Arial, Sans-Serif;
  line-height: 1.2;
}

.faq .asked.active .Trazado_375 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .asked.active .answer {
  max-height: 300px;
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

.faq .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.faq .more p {
  text-align: center;
  font-size: 12px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'MetroSans-Book', Helvetica, Arial, Sans-Serif;
}

.faq .more .cta {
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 12px 3em;
  border-radius: 4px;
  background: #686230;
  font-family: 'MetroSans-Light', Helvetica, Arial, Sans-Serif;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 525px) {
  .faq {
    width: 100%;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .faq .asked {
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid dimgray;
    cursor: pointer;
  }
  .faq .asked .question {
    padding-bottom: 15px;
  }
  .faq .asked .question h3 {
    font-size: 13px;
  }
  .faq .asked .answer p {
    font-size: 13px;
    line-height: 1.3;
  }
  .faq .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .faq .more p {
    text-align: center;
    font-size: 13px;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  .faq .more .cta {
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px 3em;
    border-radius: 4px;
    background: #686230;
    font-size: 13px;
  }
}

@media (min-width: 1025px) {
  .faq {
    width: 100%;
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .faq .title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 32px;
  }
  .faq .asked {
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid dimgray;
    cursor: pointer;
  }
  .faq .asked .question {
    padding-bottom: 25px;
  }
  .faq .asked .question h3 {
    font-size: 16px;
  }
  .faq .asked .question .Trazado_375 {
    overflow: visible;
    width: 16px;
  }
  .faq .asked .answer p {
    font-size: 16px;
    line-height: 1.3;
  }
  .faq .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .faq .more p {
    text-align: center;
    font-size: 16px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .faq .more .cta {
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px 3em;
    border-radius: 4px;
    background: #686230;
    font-size: 16px;
  }
}
/*# sourceMappingURL=faq.css.map */