@import 'variables';

/*faq*/

.faq{
    width: 100%;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 5rem;
    .title{
        margin-top: 35px;
        margin-bottom: 25px;
        font-size: 21px;
    }
    .asked{
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(105, 105, 105);
        cursor: pointer;
        .question{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            h3{
                font-size: 12px;
            }
            #Trazado_375 {
                fill: transparent;
                stroke: rgb(105, 105, 105);
                stroke-width: 3px;
                stroke-linejoin: miter;
                stroke-linecap: butt;
                stroke-miterlimit: 4;
                shape-rendering: auto;
            }
            .Trazado_375 {
                overflow: visible;
                width: 15px;
                transform: matrix(1,0,0,1,0,0);
            }
        }
        .answer{
            max-height: 0;
            overflow: hidden;
            p{
                font-size: 12px;
            }
        }
    }
}