@import 'variables';
/* footer*/

#Grupo_5 {
    position: absolute;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $green;
  }
  
  #Grupo_6 {
    width: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      span{
        margin-top: 5px;
        white-space: nowrap;
        line-height: 15px;
        text-align: center;
        font-family: Metro Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $blanco;
      }
  }
.footer-constance{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  img{
  height: 15px;
  margin-top: 5px;
}
}
  #Grupo_7 {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    i{
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        margin-right: 5px;
    }
    .bxl-instagram{
        padding-right: 3px;
    }
  }
  #copyright_constance_2021__term {
      width: 100%;
      margin-top: 5px;
      white-space: nowrap;
      line-height: 15px;
      text-align: center;
      font-family: Metro Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $blanco;
      display: flex;
      justify-content: center;
      align-items: center;
  a{
    color: $blanco;
 
  }
  }