@import 'variables';
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
*,::before,::after{
  box-sizing: border-box;
}
body{
  background-color: $lemon;
}
.main{
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  z-index: 1;
}
.background{
  width: 100%;
  height: 500px;
  align-items: center;
  position: relative;
  background-position: right bottom;
  display: block;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
  img{
    width: 100%;
    
  }
}
  
