@import 'variables';
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
*,::before,::after{
  box-sizing: border-box;
}
body{
  background-color: $lemon;
}
.main{
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.background{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 100%;
    
  }
}
  
