@import 'variables';
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: $lemon;
}
.main{
width: 100%;
}
.background{
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .img1{
    width: 100%;
    display: block;
  }
}
  
/* Mouse */
.box-mouse{
margin-top: 25px;
margin-bottom: 25px;
}

.mouse {
  display: block;
  width: 28px;
  height: 48px;
  border-radius: 11px 11px 15px 15px;
  border: 1.5px solid #fff;
  left: 50%;
  margin-left: -13px;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
	}
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
	}
}
/* banner*/
.banner{
  width: 100%;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $green;
  padding: none;
  p{
    font-size: 21px;
    color: $blanco;
  }
}
/* div box */

	#box{
    width: 100%;
    background: $blanco;
	}
	#Rectangulo{
		fill: rgba(244,219,178,1);
	}
	.Rectangulo{
		position: absolute;
		overflow: visible;
		width: 961px;
		height: 496px;
		left: 0px;
		top: 1604px;
	}
	#saasd {
		position: absolute;
		width: 374px;
		height: 340px;
		left: 296px;
		top: 1162px;
		overflow: visible;
	}

	#Color {
		left: 723px;
		top: 1491px;
		position: absolute;
		overflow: visible;
		width: 44px;
		white-space: nowrap;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#Transparent__Glossy {
		left: 156px;
		top: 1247px;
		position: absolute;
		overflow: visible;
		width: 97px;
		white-space: nowrap;
		line-height: 22px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(0,0,0,1);
	}
	#Rectngulo_101 {
		fill: rgba(225,190,147,1);
	}
	.Rectngulo_101 {
		position: absolute;
		overflow: visible;
		width: 28px;
		height: 18px;
		left: 720px;
		top: 1517px;
	}
	#Rectngulo_102 {
		fill: rgba(82,134,62,1);
	}
	.Rectngulo_102 {
		position: absolute;
		overflow: visible;
		width: 26px;
		height: 18px;
		left: 754px;
		top: 1517px;
	}
	#Compact {
		left: 676px;
		top: 1169px;
		position: absolute;
		overflow: visible;
		width: 73px;
		white-space: nowrap;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#ID12123 {
		position: absolute;
		width: 473px;
		height: 429px;
		left: 244px;
		top: 1591px;
		overflow: visible;
	}
	#Airtight {
		left: 741px;
		top: 1662px;
		position: absolute;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(0,0,0,1);
	}
	#porcelain {
		left: 139px;
		top: 1778px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#Rectngulo_103 {
		fill: rgba(253,12,2,1);
	}
	.Rectngulo_103 {
		position: absolute;
		overflow: visible;
		width: 26.913px;
		height: 17.942px;
		left: 725.541px;
		top: 2030.907px;
	}
	#Rectngulo_104 {
		fill: rgba(82,134,62,1);
	}
	.Rectngulo_104 {
		position: absolute;
		overflow: visible;
		width: 26.913px;
		height: 17.942px;
		left: 757.975px;
		top: 2030.907px;
	}
	#Color_cg {
		left: 725.541px;
		top: 2003.628px;
		position: absolute;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Color_ch {
		left: 727.888px;
		top: 2506px;
		position: absolute;
		overflow: visible;
		width: 44px;
		white-space: nowrap;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(0,0,0,1);
	}
	#Stoneware_Glossy {
		left: 702.712px;
		top: 2202px;
		position: absolute;
		overflow: visible;
		width: 82px;
		white-space: nowrap;
		line-height: 22px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(0,0,0,1);
	}
	#Rectngulo_105 {
		fill: rgba(225,190,147,1);
	}
	.Rectngulo_105 {
		position: absolute;
		overflow: visible;
		width: 28px;
		height: 18px;
		left: 724.888px;
		top: 2532px;
	}
	#Rectngulo_106 {
		fill: rgba(82,134,62,1);
	}
	.Rectngulo_106 {
		position: absolute;
		overflow: visible;
		width: 26px;
		height: 18px;
		left: 758.888px;
		top: 2532px;
	}

	#Trazado_1 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_1 {
		overflow: visible;
		position: absolute;
		width: 115.95px;
		height: 34.505px;
		left: 628.02px;
		top: 1438.866px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_2 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_2 {
		overflow: visible;
		position: absolute;
		width: 115.95px;
		height: 34.505px;
		left: 634.227px;
		top: 1951.495px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_3 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_3 {
		overflow: visible;
		position: absolute;
		width: 115.95px;
		height: 34.505px;
		left: 635.979px;
		top: 2460.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_4 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_4 {
		overflow: visible;
		position: absolute;
		width: 145.329px;
		height: 27.804px;
		left: 518.597px;
		top: 1186.97px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_5 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_5 {
		overflow: visible;
		position: absolute;
		width: 145.329px;
		height: 27.804px;
		left: 580.712px;
		top: 1679px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_6 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_6 {
		overflow: visible;
		position: absolute;
		width: 145.329px;
		height: 27.804px;
		left: 582.288px;
		top: 2183.919px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_7 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_7 {
		overflow: visible;
		position: absolute;
		width: 126.797px;
		height: 26.424px;
		left: 204.116px;
		top: 1296.724px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_8 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_8 {
		overflow: visible;
		position: absolute;
		width: 126.797px;
		height: 26.424px;
		left: 169.703px;
		top: 1805.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_9 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Trazado_9 {
		overflow: visible;
		position: absolute;
		width: 126.797px;
		height: 26.424px;
		left: 180.987px;
		top: 2324.419px;
		transform: matrix(1,0,0,1,0,0);
	}
	#dishwasher_and__microwave_safe {
		left: 136.42px;
		top: 2277px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		line-height: 22px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(0,0,0,1);
	}
	#wsegwretyrhtmjy {
		position: absolute;
		width: 405px;
		height: 368px;
		left: 278px;
		top: 2151px;
		overflow: visible;
	}
  	/* prom*/

	#Grupo_4 {
		position: absolute;
		width: 961px;
		height: 451px;
		left: 0px;
		top: 2640px;
		overflow: visible;
	}

	#Grupo_1 {
		position: absolute;
		width: 66px;
		height: 16px;
		left: 786px;
		top: 339px;
		overflow: visible;
	}
	#see_more {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(255,255,255,1);
	}
	#Lorem_ipsum_dolor_sit_amet_con {
		left: 573.212px;
		top: 210.209px;
		position: absolute;
		overflow: hidden;
		width: 243.796px;
		height: 71.90727996826172px;
		line-height: 21.600000381469727px;
		margin-top: -0.3000001907348633px;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: lighter;
		font-size: 21px;
		color: rgba(255,255,255,1);
	}
	#product_1 {
		left: 573.212px;
		top: 121.293px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		line-height: 15px;
		margin-top: -1.5px;
		text-align: left;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(255,255,255,1);
	}

	/* div box */
  #sfsdc {
		position: absolute;
		height: 463.09px;
		left: 326.744px;
		top: 3171.653px;
		overflow: visible;
	}
	#bakeware {
		left: 278px;
		top: 3403.199px;
		position: absolute;
		overflow: visible;
		width: 406px;
		white-space: nowrap;
		text-align: left;
		font-family: Savinder;
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		color: rgba(0,0,0,1);
	}
	#Componente_1__1 {
		position: absolute;
		width: 43.235px;
		height: 43.235px;
		left: 827.765px;
		top: 3403.199px;
		overflow: visible;
	}
	#Elipse_1 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Elipse_1 {
		position: absolute;
		overflow: visible;
		width: 46.235px;
		height: 46.235px;
		left: 0px;
		top: 0px;
	}
	#Trazado_11 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Trazado_11 {
		overflow: visible;
		position: absolute;
		width: 12.313px;
		height: 19.445px;
		left: 17.067px;
		top: 12.983px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Componente_2__1 {
		position: absolute;
		width: 43.235px;
		height: 43.235px;
		left: 90px;
		top: 3403.199px;
		overflow: visible;
	}
	#Elipse_2 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Elipse_2 {
		position: absolute;
		overflow: visible;
		width: 46.235px;
		height: 46.235px;
		left: 0px;
		top: 0px;
	}
	#Trazado_12 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 10;
		shape-rendering: auto;
	}
	.Trazado_12 {
		overflow: visible;
		position: absolute;
		width: 12.313px;
		height: 19.445px;
		left: 17.067px;
		top: 12.983px;
		transform: matrix(1,0,0,1,0,0);
	}

   	/* footer*/

     #Grupo_5 {
      position: absolute;
      width: 960px;
      height: 205px;
      left: 1px;
      top: 3766px;
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #Rectngulo_110 {
      fill: rgba(104,98,48,1);
    }
    .Rectngulo_110 {
      position: absolute;
      overflow: visible;
      width: 960px;
      height: 205px;
      left: 0px;
      top: 0px;
    }
	#Grupo_6 {
		position: absolute;
		width: 220px;
		height: 109.034px;
		left: 368.5px;
		top: 48px;
		overflow: visible;
	}
  .footer-constance{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-constance img{
    height: 20px;
    margin-top: 8px;
  }
	#Grupo_7 {
		position: absolute;
		width: 81.978px;
		height: 15.04px;
		left: 70.511px;
		top: 44.467px;
		overflow: visible;
	}
  .Trazado_111 {
		overflow: visible;
		position: absolute;
		width: 8.055px;
		height: 15.04px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
  .Trazado_222 {
		overflow: visible;
		position: absolute;
		width: 15.039px;
		height: 15.04px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Trazado_333 {
		overflow: visible;
		position: absolute;
		width: 1.764px;
		height: 1.763px;
		left: 10.619px;
		top: 2.685px;
		transform: matrix(1,0,0,1,0,0);
	}
	
	
	#copyright_constance_2021__term {
		left: 0px;
		top: 82.034px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		line-height: 15px;
		margin-top: -1.5px;
		text-align: center;
		font-family: Metro Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: $blanco;
    a{
      color: $blanco;
    }
	}