* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

/*menu*/
header {
  height: 100px;
  position: relative;
  background-position: right bottom;
  display: block;
  z-index: 3;
}

nav {
  padding-right: 6.5rem;
  padding-left: 6.5rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #A2A183;
}

#menuToggle {
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 6.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  z-index: 1;
}

#menuToggle a {
  text-decoration: none;
  color: #ffff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #dfdfdf;
}

#menuToggle input {
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  width: 28px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffff;
  border-radius: 2px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(38deg) translate(-2px, -1px);
          transform: rotate(38deg) translate(-2px, -1px);
  background: #ffff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-38deg) translate(0, -1px);
          transform: rotate(-38deg) translate(0, -1px);
}

#menu {
  position: fixed;
  width: 350px;
  margin: -100px 0 0 -120px;
  padding: 100px;
  padding-top: 225px;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #686230;
  overflow: auto;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 1s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  display: block;
  padding: 9px 0;
  font-size: 21px;
}

#menu li a {
  display: block;
  color: #ffff;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.terms {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.sub-terms-item {
  text-decoration: none;
  color: #ccc8db;
  padding: 10px 10px;
  line-height: 0.7;
  font-weight: 500;
  border-radius: 20px;
}

.logo {
  margin-top: 14px;
}

.logo img {
  height: 24px;
  margin-bottom: 9px;
}

a i {
  color: #ffff;
  font-size: 25px;
  cursor: pointer;
}

/*medias*/
@media (max-width: 500px) {
  nav {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  /*menu*/
  #menu {
    overflow: hidden;
    margin: -100px 0 0 -120px;
    padding: 100px;
    padding-top: 225px;
    padding-right: 30px;
  }
  #menuToggle {
    top: 2px;
  }
  #menuToggle span {
    width: 22px;
    height: 2px;
    margin-bottom: 3px;
  }
  #menu li {
    padding: 9px 0;
    font-size: 18px;
  }
  .terms {
    margin-top: 175px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 20px;
  }
  .sub-terms-item {
    padding: 5px 5px;
  }
  .logo {
    margin-top: 5px;
  }
  .logo img {
    height: 20px;
    margin-top: 8px;
  }
  a i {
    font-size: 21px;
  }
}

@media (max-width: 350px) {
  #menuToggle {
    top: 2px;
  }
  #menuToggle span {
    width: 20px;
    height: 1.2px;
    margin-bottom: 3.3px;
  }
  nav {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 12px;
  }
  .logo img {
    height: 18px;
    margin-top: 7px;
  }
  i {
    font-size: 15px;
  }
}
/*# sourceMappingURL=menu.css.map */