@import 'variables';
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
*,::before,::after{
  box-sizing: border-box;
}
body
{
  margin: 0;
  padding: 0;
  background: $lemon;
  color: $green;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#escritorio{
    height: 105px;
    background: rgba(255, 0, 0, 0.315);
 
    position: relative;
    background-position: right bottom;
}
nav{
    padding-right: 6.5rem;
    padding-left: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100px;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    
   
   }
#menuToggle
{
  display: grid;
  position:relative;
  top: 4.5px;
  z-index: 1; 
  -webkit-user-select: none;
  user-select: none;

}
#menuToggle a
{
  text-decoration: none;
  color: $blanco;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: $gris;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;

}
#menuToggle span
{
  display: block;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: $blanco;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px; 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(38deg) translate(-2px, -1px);
  background: $blanco;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-38deg) translate(0, -1px);
}
#menu
{
  position: fixed;
  overflow: hidden;
  width: 350px;
  margin: -100px 0 0 -120px;
  padding: 100px;
  padding-top: 225px;
  height: 880px;
  background: $green;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 12px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
.terms{
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .sub-terms-item {
   text-decoration: none;
   color: #ccc8db;
   padding: 10px 10px;
   line-height: 0.7;
   font-weight: 500;
   border-radius: 20px;
  }


.logo img{
    height: 210px;
}
i{
  color: $blanco;
  font-size: 23px;
  cursor: pointer;
}

@media (max-width: 500px){
  nav{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
   }
}


@media (max-width: 350px){
  #menuToggle
  {
    top: 2px;
  }
  #menuToggle span
{
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 2.5px;
}
  nav{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 12px;
   }
   .logo img{
    height: 150px;
}
   i{
    font-size: 15px;
  }
  
}